/* modal  */
body.modal-open {
  transition: all 0.6s ease;
  overflow: hidden;
}
dialog {
  transition: all 0.6s ease;
  width: 500px;
  background-color: #ebf8ff;
  color: black;
}

dialog::backdrop {
  background: rgba(0, 0, 0, 0.9);
}
